n8n-workflow-restaurants-bordeaux.json
{
  "name": "Import Restaurants Bordeaux - Complet",
  "nodes": [
    {
      "parameters": {},
      "id": "1",
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "https://maps.googleapis.com/maps/api/place/textsearch/json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "restaurant bordeaux"
            },
            {
              "name": "key",
              "value": "AIzaSyBoOcs0Ob0MBKRDVZ37wVeIECTIsqsEBQ8"
            }
          ]
        },
        "options": {}
      },
      "id": "2",
      "name": "Google Places API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "return $input.all()[0].json.results.map(restaurant => ({ json: restaurant }));"
      },
      "id": "3",
      "name": "Extract Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "4",
      "name": "SplitInBatches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [900, 300]
    },
    {
      "parameters": {
        "url": "https://maps.googleapis.com/maps/api/place/details/json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "place_id",
              "value": "={{ $json.place_id }}"
            },
            {
              "name": "fields",
              "value": "name,formatted_address,rating,website,formatted_phone_number,opening_hours,price_level,reviews,url,types,user_ratings_total,business_status,photos"
            },
            {
              "name": "key",
              "value": "AIzaSyBoOcs0Ob0MBKRDVZ37wVeIECTIsqsEBQ8"
            }
          ]
        },
        "options": {}
      },
      "id": "5",
      "name": "Place Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Place Details renvoie les données dans result\nconst restaurant = $input.item.json.result;\n\n// Fonction pour extraire la ville de l'adresse\nconst extractCity = (address) => {\n  if (!address) return 'Bordeaux';\n  const match = address.match(/\\d{5}\\s+([^,]+)/);\n  return match ? match[1].trim() : 'Bordeaux';\n};\n\n// Convertir les photos en URLs utilisables\nconst getPhotoUrls = (photos) => {\n  if (!photos || photos.length === 0) return [];\n  return photos.slice(0, 5).map(photo => {\n    return `https://maps.googleapis.com/maps/api/place/photo?maxwidth=800&photo_reference=${photo.photo_reference}&key=AIzaSyBoOcs0Ob0MBKRDVZ37wVeIECTIsqsEBQ8`;\n  });\n};\n\n// Extraire les types/catégories lisibles\nconst getCategories = (types) => {\n  if (!types) return [];\n  const excluded = ['establishment', 'point_of_interest', 'food'];\n  return types.filter(t => !excluded.includes(t));\n};\n\n// Formater les données complètes\nconst formattedData = {\n  name: restaurant.name || 'Restaurant sans nom',\n  rating: restaurant.rating || 0,\n  address: restaurant.formatted_address || '',\n  city: extractCity(restaurant.formatted_address),\n  business_status: restaurant.business_status || 'UNKNOWN',\n  place_id: restaurant.place_id || '',\n  user_ratings_total: restaurant.user_ratings_total || 0,\n  website: restaurant.website || null,\n  phone: restaurant.formatted_phone_number || null,\n  opening_hours: restaurant.opening_hours?.weekday_text || [],\n  price_level: restaurant.price_level || null,\n  google_maps_url: restaurant.url || null,\n  types: getCategories(restaurant.types),\n  photos: getPhotoUrls(restaurant.photos),\n  reviews: (restaurant.reviews || []).slice(0, 5).map(review => ({\n    author: review.author_name,\n    rating: review.rating,\n    text: review.text,\n    date: review.relative_time_description\n  }))\n};\n\nconsole.log('📍 Restaurant formaté:', formattedData.name, '- Website:', formattedData.website);\n\nreturn { json: formattedData };"
      },
      "id": "6",
      "name": "Format Restaurant Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_GROQ_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "llama-3.3-70b-versatile"
            },
            {
              "name": "messages",
              "value": "={{ [{\"role\": \"system\", \"content\": \"Tu es un expert gastronomique à Bordeaux. Écris une description courte et professionnelle (2-3 phrases) pour ce restaurant.\"}, {\"role\": \"user\", \"content\": `Restaurant: ${$json.name}\\nAdresse: ${$json.address}\\nNote: ${$json.rating}/5\\nTypes: ${$json.types?.join(', ') || 'Non spécifié'}`}] }}"
            },
            {
              "name": "temperature",
              "value": "0.7"
            }
          ]
        },
        "options": {}
      },
      "id": "7",
      "name": "Groq - Generate Description",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1560, 200]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "name",
              "value": "={{ $('Format Restaurant Data').item.json.name }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "description",
              "value": "={{ $json.choices[0].message.content }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "rating",
              "value": "={{ $('Format Restaurant Data').item.json.rating }}",
              "type": "number"
            },
            {
              "id": "4",
              "name": "address",
              "value": "={{ $('Format Restaurant Data').item.json.address }}",
              "type": "string"
            },
            {
              "id": "5",
              "name": "city",
              "value": "={{ $('Format Restaurant Data').item.json.city }}",
              "type": "string"
            },
            {
              "id": "6",
              "name": "website",
              "value": "={{ $('Format Restaurant Data').item.json.website }}",
              "type": "string"
            },
            {
              "id": "7",
              "name": "phone",
              "value": "={{ $('Format Restaurant Data').item.json.phone }}",
              "type": "string"
            },
            {
              "id": "8",
              "name": "opening_hours",
              "value": "={{ $('Format Restaurant Data').item.json.opening_hours }}",
              "type": "array"
            },
            {
              "id": "9",
              "name": "price_level",
              "value": "={{ $('Format Restaurant Data').item.json.price_level }}",
              "type": "number"
            },
            {
              "id": "10",
              "name": "google_maps_url",
              "value": "={{ $('Format Restaurant Data').item.json.google_maps_url }}",
              "type": "string"
            },
            {
              "id": "11",
              "name": "types",
              "value": "={{ $('Format Restaurant Data').item.json.types }}",
              "type": "array"
            },
            {
              "id": "12",
              "name": "reviews",
              "value": "={{ $('Format Restaurant Data').item.json.reviews }}",
              "type": "array"
            },
            {
              "id": "13",
              "name": "images",
              "value": "={{ $('Format Restaurant Data').item.json.photos }}",
              "type": "array"
            },
            {
              "id": "14",
              "name": "source",
              "value": "google_maps",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "8",
      "name": "Prepare JSON",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [1780, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3000/scraper/import",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "your-secret-api-key-here"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "9",
      "name": "Import to API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2000, 200]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const response = $input.item.json;\n\nconsole.log('✅ Restaurant importé:', response.restaurant?.name || 'Nom inconnu');\nconsole.log('   Action:', response.action);\nconsole.log('   ID:', response.restaurant?.id || 'N/A');\n\nreturn { json: response };"
      },
      "id": "10",
      "name": "Log Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2220, 200]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Google Places API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Places API": {
      "main": [
        [
          {
            "node": "Extract Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Results": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitInBatches": {
      "main": [
        [
          {
            "node": "Place Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Place Details": {
      "main": [
        [
          {
            "node": "Format Restaurant Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Restaurant Data": {
      "main": [
        [
          {
            "node": "Groq - Generate Description",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq - Generate Description": {
      "main": [
        [
          {
            "node": "Prepare JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare JSON": {
      "main": [
        [
          {
            "node": "Import to API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Import to API": {
      "main": [
        [
          {
            "node": "Log Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
