n8nv2.json
{
    "nodes": [
        {
            "parameters": {
                "jsCode": "const searches = [\n  \"restaurant français bordeaux\",\n  \"restaurant italien bordeaux\",\n  \"restaurant japonais bordeaux\",\n  \"bistrot bordeaux\",\n  \"restaurant gastronomique bordeaux\",\n  \"restaurant la rencontre bordeaux\",\n  \"restaurant bio bordeaux\",\n  \"restaurant végétarien bordeaux\", \n  \"restaurant africain bordeaux\",\n  \"restaurant asiatique bordeaux\",\n  \"restaurant végétalien bordeaux\",\n  \"restaurant méditerranéen bordeaux\",\n  \"restaurant créatif bordeaux\",\n  \"restaurant traditionnel bordeaux\",\n  \"restaurant moderne bordeaux\"\n];\nreturn searches.map(query => ({ json: { query } }));"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -4160,
                10960
            ],
            "id": "b10c6570-a7c3-430d-a9b9-099351c06763",
            "name": "Liste des recherches6"
        },
        {
            "parameters": {
                "options": {
                    "reset": false
                }
            },
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                -3952,
                10960
            ],
            "id": "78e6d578-219e-4668-ade5-1d7982bc5389",
            "name": "Loop Searches6"
        },
        {
            "parameters": {
                "url": "https://maps.googleapis.com/maps/api/place/textsearch/json",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "query",
                            "value": "={{ $json.query }}"
                        },
                        {
                            "name": "key",
                            "value": "AIzaSyBoOcs0Ob0MBKRDVZ37wVeIECTIsqsEBQ8"
                        },
                        {
                            "name": "language",
                            "value": "fr"
                        },
                        {
                            "name": "type",
                            "value": "restaurant"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                -3760,
                10960
            ],
            "id": "18ef7088-eadd-4444-a7f5-5f1b4e56ca15",
            "name": "Google Maps Search6"
        },
        {
            "parameters": {
                "jsCode": "const response = $input.all()[0].json;\nconsole.log('Google API returned', response.results?.length || 0, 'results');\nconsole.log('Query was:', $input.all()[0].json.query || 'unknown');\nif (!response.results || response.results.length === 0) {\n  return [];\n}\nreturn response.results.map(r => ({ json: r }));"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -3552,
                10960
            ],
            "id": "29d6a6f1-871b-499e-ae7e-8f34f1ff0d0e",
            "name": "Extract Results6"
        },
        {
            "parameters": {
                "jsCode": "return $input.all().slice(0, 20);"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -3360,
                10960
            ],
            "id": "48dd051e-9321-40af-9b6d-eae55574e484",
            "name": "Limit Results6"
        },
        {
            "parameters": {
                "options": {
                    "reset": false
                }
            },
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                -3152,
                10960
            ],
            "id": "3a78d6f4-3c7c-43c8-9943-877fd38243fb",
            "name": "Loop Restaurants6"
        },
        {
            "parameters": {
                "url": "https://maps.googleapis.com/maps/api/place/details/json",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "place_id",
                            "value": "={{ $json.place_id }}"
                        },
                        {
                            "name": "fields",
                            "value": "name,formatted_address,rating,website,formatted_phone_number,opening_hours,price_level,reviews,url,types,user_ratings_total,business_status"
                        },
                        {
                            "name": "key",
                            "value": "AIzaSyBoOcs0Ob0MBKRDVZ37wVeIECTIsqsEBQ8"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                -2960,
                10960
            ],
            "id": "e8a18ca1-bb46-4e22-a5aa-a79e85175cfa",
            "name": "Place Details (sans photos)6"
        },
        {
            "parameters": {
                "jsCode": "const restaurant = $input.item.json.result;\nconst extractCity = (address) => {\n  if (!address) return 'Bordeaux';\n  const match = address.match(/\\d{5}\\s+([^,]+)/);\n  return match ? match[1].trim() : 'Bordeaux';\n};\nconst getCategories = (types) => {\n  if (!types) return [];\n  const excluded = ['establishment', 'point_of_interest', 'food'];\n  return types.filter(t => !excluded.includes(t));\n};\nreturn {\n  json: {\n    name: restaurant.name || 'Restaurant Sans Nom',\n    rating: restaurant.rating || 0,\n    review_count: restaurant.user_ratings_total || 0,\n    address: restaurant.formatted_address || '',\n    city: extractCity(restaurant.formatted_address),\n    place_id: restaurant.place_id || '',\n    website: restaurant.website || null,\n    phone: restaurant.formatted_phone_number || null,\n    opening_hours: restaurant.opening_hours?.weekday_text || [],\n    price_level: restaurant.price_level || null,\n    google_maps_url: restaurant.url || null,\n    types: getCategories(restaurant.types),\n    reviews: (restaurant.reviews || []).slice(0, 5).map(r => ({\n      author: r.author_name,\n      rating: r.rating,\n      text: r.text,\n      date: r.relative_time_description\n    }))\n  }\n};"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -2752,
                10960
            ],
            "id": "e268f3a0-0439-4e92-9078-d46fa8324915",
            "name": "Format Restaurant Data6",
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://playwright:3002/scrape-photos",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ website: $json.website }) }}",
                "options": {
                    "timeout": 45000
                }
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                -2560,
                10960
            ],
            "id": "fc3ef095-ddce-4677-a6aa-9b3488192e33",
            "name": "Playwright Scraper6",
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "condition1",
                            "leftValue": "={{ $json.photos.length }}",
                            "rightValue": 0,
                            "operator": {
                                "type": "number",
                                "operation": "gt"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                -2352,
                10960
            ],
            "id": "66b425f1-7b36-4472-8608-5e2ddd266467",
            "name": "Photos trouvées ?6"
        },
        {
            "parameters": {
                "url": "https://maps.googleapis.com/maps/api/place/details/json",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "place_id",
                            "value": "={{ $('Place Details (sans photos)6').item.json.result.place_id }}"
                        },
                        {
                            "name": "fields",
                            "value": "photos"
                        },
                        {
                            "name": "key",
                            "value": "AIzaSyBoOcs0Ob0MBKRDVZ37wVeIECTIsqsEBQ8"
                        }
                    ]
                },
                "options": {
                    "timeout": 30000
                }
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                -2160,
                11152
            ],
            "id": "8c337c9c-98dd-46cc-b232-b6d3a3490e0a",
            "name": "Google Photos API (Fallback)6"
        },
        {
            "parameters": {
                "jsCode": "const restaurantData = $('Format Restaurant Data6').item.json;\nconst photosNode = $('Playwright Scraper6').item.json;\nconst photos = photosNode?.photos || [];\nconst photoSource = photosNode?.source || 'playwright';\n\nreturn {\n  json: {\n    ...restaurantData,\n    photos: photos,\n    photo_source: photoSource\n  }\n};"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -2016,
                10832
            ],
            "id": "2353b689-044c-4572-b7b1-edcae74b0a12",
            "name": "Merge avec Playwright Photos6"
        },
        {
            "parameters": {
                "jsCode": "const restaurantData = $('Format Restaurant Data6').item.json;\nconst googleResponse = $json.result;\nlet photos = [];\nif (googleResponse?.photos) {\n  const apiKey = 'VOTRE_CLE_GOOGLE_MAPS_API';\n  photos = googleResponse.photos.slice(0, 3).map(p => \n    `https://maps.googleapis.com/maps/api/place/photo?maxwidth=800&photo_reference=${p.photo_reference}&key=${apiKey}`\n  );\n}\nreturn {\n  json: {\n    ...restaurantData,\n    photos: photos,\n    photo_source: 'google_maps'\n  }\n};"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -1952,
                11152
            ],
            "id": "251247e3-8d32-4746-8e4d-ea3713244fce",
            "name": "Merge avec Google Photos6"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.groq.com/openai/v1/chat/completions",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer 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"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Tu es un rédacteur web spécialisé en gastronomie. Tu dois retourner UNIQUEMENT un objet JSON valide, sans markdown, sans ```json, sans explication.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Restaurant: {{ $json.name }}\\nNote: {{ $json.rating }}/5\\nAdresse: {{ $json.address }}\\nTypes: {{ $json.types }}\\n\\nRetourne un JSON avec ces champs:\\n{\\n  \\\"description\\\": \\\"Description professionnelle 2-3 phrases\\\",\\n  \\\"category\\\": [\\\"restaurant\\\", \\\"bistro\\\"],\\n  \\\"cuisine_origin\\\": \\\"française\\\"\\n}\\n\\nPour category: PEUT CONTENIR PLUSIEURS VALEURS. Valeurs possibles = restaurant, bar, bistro, gastro, cafe, brasserie, pub, wine_bar, tapas, fast_food, pizzeria, creperie, salon_de_the, traiteur, food_court. Tu peux combiner plusieurs catégories selon le type d'établissement. Exemples: [\\\"restaurant\\\", \\\"gastro\\\", \\\"bistro\\\"] pour un bistro gastronomique, [\\\"bar\\\", \\\"tapas\\\"] pour un bar à tapas, [\\\"restaurant\\\", \\\"pizzeria\\\"] pour une pizzeria, [\\\"cafe\\\", \\\"salon_de_the\\\"] pour un salon de thé. Pour cuisine_origin: française, italienne, japonaise, chinoise, indienne, mexicaine, espagnole, thaïlandaise, vietnamienne, libanaise, marocaine, américaine, fusion, autre.\"\n    }\n  ],\n  \"temperature\": 0.3,\n  \"max_tokens\": 300\n}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                -1552,
                10960
            ],
            "id": "bb9baed6-6672-42e4-b95d-9b3cf29165cc",
            "name": "Groq Description6"
        },
        {
            "parameters": {
                "jsCode": "const groqRaw = $json.choices[0].message.content;\nlet groqData;\ntry {\n  const cleaned = groqRaw.replace(/```json/g, '').replace(/```/g, '').trim();\n  groqData = JSON.parse(cleaned);\n} catch (e) {\n  groqData = {\n    description: groqRaw,\n    category: ['restaurant'],\n    cuisine_origin: 'française'\n  };\n}\n\nlet restaurant;\ntry {\n  restaurant = $('Merge avec Playwright Photos6').item.json;\n} catch {\n  restaurant = $('Merge avec Google Photos6').item.json;\n}\n\nreturn {\n  json: {\n    name: restaurant.name,\n    description: groqData.description || '',\n    rating: restaurant.rating,\n    review_count: restaurant.review_count,\n    category: Array.isArray(groqData.category) ? groqData.category : [groqData.category],\n    cuisine_origin: groqData.cuisine_origin || 'autre',\n    address: restaurant.address,\n    city: restaurant.city,\n    website: restaurant.website,\n    phone: restaurant.phone,\n    opening_hours: restaurant.opening_hours,\n    price_level: restaurant.price_level,\n    google_maps_url: restaurant.google_maps_url,\n    types: restaurant.types,\n    reviews: restaurant.reviews,\n    images: restaurant.photos || [],\n    source: restaurant.photo_source || 'aucune'\n  }\n};"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -1360,
                10960
            ],
            "id": "01f4d797-9ef3-489a-8d6f-ec268a9e33e8",
            "name": "Parse Groq + Assemble6",
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://backend:3000/scraper/import",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "x-api-key",
                            "value": "nicolas123"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "name",
                            "value": "={{ $json.name }}"
                        },
                        {
                            "name": "description",
                            "value": "={{ $json.description }}"
                        },
                        {
                            "name": "rating",
                            "value": "={{ $json.rating }}"
                        },
                        {
                            "name": "address",
                            "value": "={{ $json.address }}"
                        },
                        {
                            "name": "city",
                            "value": "={{ $json.city }}"
                        },
                        {
                            "name": "website",
                            "value": "={{ $json.website }}"
                        },
                        {
                            "name": "phone",
                            "value": "={{ $json.phone }}"
                        },
                        {
                            "name": "opening_hours",
                            "value": "={{ $json.opening_hours }}"
                        },
                        {
                            "name": "price_level",
                            "value": "={{ $json.price_level }}"
                        },
                        {
                            "name": "google_maps_url",
                            "value": "={{ $json.google_maps_url }}"
                        },
                        {
                            "name": "types",
                            "value": "={{ $json.category }}"
                        },
                        {
                            "name": "reviews",
                            "value": "={{ $json.reviews }}"
                        },
                        {
                            "name": "images",
                            "value": "={{ $json.images }}"
                        },
                        {
                            "name": "source",
                            "value": "={{ $json.source }}"
                        },
                        {
                            "name": "cuisine_origin",
                            "value": "={{ $json.cuisine_origin }}"
                        },
                        {
                            "name": "rating_count",
                            "value": "={{ $('Place Details (sans photos)6').item.json.result.user_ratings_total }}"
                        },
                        {
                            "name": "google_place_id",
                            "value": "={{ $('Place Details (sans photos)6').item.json.result.place_id }}"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                -1152,
                10960
            ],
            "id": "26375103-e47a-4a56-9e22-067c1673d074",
            "name": "Import to Backend6"
        },
        {
            "parameters": {
                "jsCode": "const resp = $json;\nconsole.log('Import response:', JSON.stringify(resp));\nconst status = resp.statusCode || resp.status || null;\nconst body = resp.body || resp;\nif (status && status >= 400) {\n  console.error('❌ Import failed', status, body);\n} else {\n  const action = body && body.action ? body.action : 'unknown';\n  const name = (body && body.restaurant && body.restaurant.name) || body.name || 'unknown';\n  console.log(`✅ Restaurant ${action}:`, name);\n}\nreturn { json: resp };"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -960,
                10960
            ],
            "id": "fe679741-e93f-4f7f-8749-ff85e35f5761",
            "name": "Log Success6"
        }
    ],
    "connections": {
        "Liste des recherches6": {
            "main": [
                [
                    {
                        "node": "Loop Searches6",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Loop Searches6": {
            "main": [
                [],
                [
                    {
                        "node": "Google Maps Search6",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Maps Search6": {
            "main": [
                [
                    {
                        "node": "Extract Results6",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Results6": {
            "main": [
                [
                    {
                        "node": "Limit Results6",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Limit Results6": {
            "main": [
                [
                    {
                        "node": "Loop Restaurants6",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Loop Restaurants6": {
            "main": [
                [
                    {
                        "node": "Loop Searches6",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Place Details (sans photos)6",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Place Details (sans photos)6": {
            "main": [
                [
                    {
                        "node": "Format Restaurant Data6",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Restaurant Data6": {
            "main": [
                [
                    {
                        "node": "Playwright Scraper6",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Playwright Scraper6": {
            "main": [
                [
                    {
                        "node": "Photos trouvées ?6",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Photos trouvées ?6": {
            "main": [
                [
                    {
                        "node": "Merge avec Playwright Photos6",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Google Photos API (Fallback)6",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Photos API (Fallback)6": {
            "main": [
                [
                    {
                        "node": "Merge avec Google Photos6",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Merge avec Playwright Photos6": {
            "main": [
                [
                    {
                        "node": "Groq Description6",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Merge avec Google Photos6": {
            "main": [
                [
                    {
                        "node": "Groq Description6",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Groq Description6": {
            "main": [
                [
                    {
                        "node": "Parse Groq + Assemble6",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Groq + Assemble6": {
            "main": [
                [
                    {
                        "node": "Import to Backend6",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Import to Backend6": {
            "main": [
                [
                    {
                        "node": "Log Success6",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Log Success6": {
            "main": [
                [
                    {
                        "node": "Loop Restaurants6",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "instanceId": "2a1cec70b32c558ac32f0e6d4c07d654484bd16978732619dc99d3cd7b3ff86f"
    }
}