Scrapping Restaurants Bordeaux (1).json
{
  "name": "Scrapping Restaurants Bordeaux",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const restaurants = [\n  {\n    name: \"Le Bistrot Bordelais\",\n    rating: 4.5,\n    address: \"123 Rue Sainte-Catherine, 33000 Bordeaux\",\n    website: null\n  },\n  {\n    name: \"La Belle Époque\",\n    rating: 4.8,\n    address: \"45 Place de la Bourse, 33000 Bordeaux\",\n    website: \"https://labelleepoque-bordeaux.fr\"\n  },\n  {\n    name: \"test\",\n    rating: 4.8,\n    address: \"45 Place de la Bourse, 33000 Bordeaux\",\n    website: \"https://labelleepoque-bordeaux.fr\"\n  },\n  {\n    name: \"test2\",\n    rating: 4.8,\n    address: \"45 Place de la Bourse, 33000 Bordeaux\",\n    website: \"https://labelleepoque-bordeaux.fr\"\n  }\n  // ... ajouter plus de restaurants manuellement pour le MVP\n];\n\nreturn restaurants.map(r => ({ json: r }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -640,
        -368
      ],
      "id": "e5c7d654-9d3a-40b2-aafd-9a6ce6e83707",
      "name": "Google Maps Search",
      "disabled": true
    },
    {
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -336,
        -160
      ],
      "id": "58c310d8-b27b-4e1b-b0e2-bdf554523aa0",
      "name": "Split In Batches"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "30ab23f9-b984-49dc-9b59-436bca3f3eec",
              "name": "name",
              "value": "={{ $('Split In Batches').item.json[\"name\"] }}\n",
              "type": "string"
            },
            {
              "id": "9a451039-8914-47b4-9322-3b0b86ee8b4c",
              "name": "description",
              "value": "={{ $json.body.choices[0].message.content }}",
              "type": "string"
            },
            {
              "id": "02b303cd-1b39-460f-a532-11bd9c0f1d88",
              "name": "rating",
              "value": "={{ $('Split In Batches').item.json[\"rating\"] }}\n",
              "type": "number"
            },
            {
              "id": "66790e87-1197-4740-9539-83e87c086aff",
              "name": "address",
              "value": "={{ $('Split In Batches').item.json.formatted_address }}",
              "type": "string"
            },
            {
              "id": "58bb227f-1ea5-4764-b111-27ba9f062688",
              "name": "city",
              "value": "={{ $('Fotmat Restaurant Data').item.json.city }}",
              "type": "string"
            },
            {
              "id": "5c3970a7-c297-45a3-9c32-94b47732e95f",
              "name": "website",
              "value": "={{ $('Fotmat Restaurant Data').item.json.website }}",
              "type": "string"
            },
            {
              "id": "2f14bcda-3721-47c1-a2d2-8e1d021800d4",
              "name": "phone",
              "value": "={{ $('Fotmat Restaurant Data').item.json.phone }}",
              "type": "string"
            },
            {
              "id": "1006a393-dea8-4e2f-ba14-3b84dddd01aa",
              "name": "opening_hours",
              "value": "={{ $('Fotmat Restaurant Data').item.json.opening_hours }}",
              "type": "array"
            },
            {
              "id": "36f88ecf-dd36-4177-9b0a-dbe26fa645ba",
              "name": "price_level",
              "value": "={{ $('Fotmat Restaurant Data').item.json.price_level }}",
              "type": "string"
            },
            {
              "id": "5645de83-bb86-4dbc-b2d4-9259ccd013fb",
              "name": "google_maps_url",
              "value": "={{ $('Fotmat Restaurant Data').item.json.google_maps_url }}",
              "type": "string"
            },
            {
              "id": "3c3ee427-6a83-4000-8f9c-78a226bbe6de",
              "name": "types",
              "value": "={{ $('Fotmat Restaurant Data').item.json.types }}",
              "type": "array"
            },
            {
              "id": "638a30b4-03ba-44f8-b565-fbeb7883fa53",
              "name": "reviews",
              "value": "={{ $('Fotmat Restaurant Data').item.json.reviews }}",
              "type": "array"
            },
            {
              "id": "db76f89b-e78f-474e-ad3f-62c47fb0f8d1",
              "name": "images",
              "value": "={{ $('Fotmat Restaurant Data').item.json.photos }}",
              "type": "array"
            },
            {
              "id": "e04e7cd8-9137-4413-b699-2cd4a73c82fb",
              "name": "source",
              "value": "google_maps",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        336,
        -144
      ],
      "id": "de3ffc03-acd6-4b56-a335-253ce8004915",
      "name": "Prepare JSON"
    },
    {
      "parameters": {
        "jsCode": "const response = $input.item.json;\nconsole.log('Restaurant imported:', response);\nreturn [{ json: response }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        -144
      ],
      "id": "8dd89878-b32c-40d3-b7aa-394f490db72a",
      "name": "Log Success"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1040,
        -160
      ],
      "id": "2e1ea9d5-5b2a-40d8-8e01-0804abbe1d7a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://maps.googleapis.com/maps/api/place/textsearch/json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "restaurant bordeaux"
            },
            {
              "name": "key",
              "value": "AIzaSyBoOcs0Ob0MBKRDVZ37wVeIECTIsqsEBQ8"
            },
            {
              "name": "language",
              "value": "fr"
            },
            {
              "name": "type",
              "value": "restaurant"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -800,
        -160
      ],
      "id": "b74f5143-4096-46d7-95a5-626782d22db7",
      "name": "google mpas search"
    },
    {
      "parameters": {
        "jsCode": "// Récupérer la réponse de Google Places\nconst response = $input.all()[0].json;\n\n// Vérifier s'il y a des résultats\nif (!response.results || response.results.length === 0) {\n  console.log('❌ Aucun restaurant trouvé');\n  return [];\n}\n\nconsole.log(`✅ ${response.results.length} restaurants trouvés`);\n\n// Retourner chaque restaurant comme un item séparé\nreturn response.results.map(restaurant => ({\n  json: restaurant\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -592,
        -160
      ],
      "id": "418c3e35-7224-4dd7-8357-46026d64e942",
      "name": "Extract result"
    },
    {
      "parameters": {
        "jsCode": "// ⚠️ Place Details renvoie les données dans result, pas directement dans json\nconst restaurant = $input.item.json.result;\n\n// Fonction pour extraire la ville de l'adresse\n// Exemple : \"46 Rue des Trois-Conils, 33000 Bordeaux, France\" → \"Bordeaux\"\nconst extractCity = (address) => {\n  if (!address) return 'Bordeaux';\n\n  // Chercher le pattern : code postal (5 chiffres) + ville\n  const match = address.match(/\\d{5}\\s+([^,]+)/);\n  return match ? match[1].trim() : 'Bordeaux';\n};\n\n// Convertir les photos en URLs utilisables\nconst getPhotoUrls = (photos) => {\n  if (!photos || photos.length === 0) return [];\n\n  // Prendre les 5 premières photos\n  return photos.slice(0, 5).map(photo => {\n    return `https://maps.googleapis.com/maps/api/place/photo?maxwidth=800&photo_reference=${photo.photo_reference}&key=AIzaSyBoOcs0Ob0MBKRDVZ37wVeIECTIsqsEBQ8`;\n  });\n};\n\n// Extraire les types/catégories lisibles\nconst getCategories = (types) => {\n  if (!types) return [];\n\n  // Filtrer les types génériques\n  const excluded = ['establishment', 'point_of_interest', 'food'];\n  return types.filter(t => !excluded.includes(t));\n};\n\n// Formater les données complètes\nconst formattedData = {\n  name: restaurant.name || 'Restaurant sans nom',\n  rating: restaurant.rating || 0,\n  address: restaurant.formatted_address || '',\n  city: extractCity(restaurant.formatted_address),\n  business_status: restaurant.business_status || 'UNKNOWN',\n  place_id: restaurant.place_id || '',\n  user_ratings_total: restaurant.user_ratings_total || 0,\n\n  // 🆕 Nouvelles données de Place Details\n  website: restaurant.website || null,\n  phone: restaurant.formatted_phone_number || null,\n  opening_hours: restaurant.opening_hours?.weekday_text || [],\n  price_level: restaurant.price_level || null,\n  google_maps_url: restaurant.url || null,\n  types: getCategories(restaurant.types),\n  photos: getPhotoUrls(restaurant.photos),\n\n  // Les 5 premiers avis (pour afficher sur le frontend)\n  reviews: (restaurant.reviews || []).slice(0, 5).map(review => ({\n    author: review.author_name,\n    rating: review.rating,\n    text: review.text,\n    date: review.relative_time_description\n  }))\n};\n\nconsole.log('📍 Restaurant formaté:', formattedData.name, '- Website:', formattedData.website);\n\nreturn { json: formattedData };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        -192
      ],
      "id": "e40fc30e-c7b1-4bcb-bf9c-3a203985c75e",
      "name": "Fotmat Restaurant Data"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_GROQ_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Tu es un rédacteur web spécialisé en gastronomie. Crée une description professionnelle et engageante pour ce restaurant de Bordeaux (2-3 phrases maximum). Nom : {{ $json.name }}, Note : {{ $json.rating }}/5, Adresse : {{ $json.address }}. Retourne UNIQUEMENT la description, sans titre ni formatage.\"\n    }\n  ],\n  \"temperature\": 0.7,\n  \"max_tokens\": 200\n}\n",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        176,
        -368
      ],
      "id": "fedaa074-10ee-4b4a-bec2-f0eda648ac7e",
      "name": "Groq - Generate Description",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "url": "https://maps.googleapis.com/maps/api/place/details/json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "place_id",
              "value": "={{ $json.place_id }}"
            },
            {
              "name": "fields",
              "value": "name,formatted_address,rating,website,formatted_phone_number,opening_hours,price_level,reviews,url,types,user_ratings_total,business_status,photos"
            },
            {
              "name": "key",
              "value": "AIzaSyBoOcs0Ob0MBKRDVZ37wVeIECTIsqsEBQ8"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -144,
        -336
      ],
      "id": "389baedc-ecbc-4959-8469-1076278eb6cd",
      "name": "Place Details"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:3000/scraper/import",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "nicolas123"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $json.name }}"
            },
            {
              "name": "description",
              "value": "={{ $json.description }}"
            },
            {
              "name": "rating",
              "value": "={{ $json.rating }}"
            },
            {
              "name": "address",
              "value": "={{ $json.address }}"
            },
            {
              "name": "city",
              "value": "={{ $json.city }}"
            },
            {
              "name": "website",
              "value": "={{ $json.website }}"
            },
            {
              "name": "phone",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "opening_hours",
              "value": "={{ $json.opening_hours }}"
            },
            {
              "name": "price_level",
              "value": "={{ $json.price_level }}"
            },
            {
              "name": "google_maps_url",
              "value": "={{ $json.google_maps_url }}"
            },
            {
              "name": "types",
              "value": "={{ $json.types }}"
            },
            {
              "name": "reviews",
              "value": "={{ $json.reviews }}"
            },
            {
              "name": "images",
              "value": "={{ $json.images }}"
            },
            {
              "name": "source",
              "value": "={{ $json.source }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        544,
        -144
      ],
      "id": "2ff64612-f19c-4106-8f28-abd97dd12a86",
      "name": "Import to Backend"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Maps Search": {
      "main": [
        []
      ]
    },
    "Split In Batches": {
      "main": [
        [],
        [
          {
            "node": "Place Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare JSON": {
      "main": [
        [
          {
            "node": "Import to Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "google mpas search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "google mpas search": {
      "main": [
        [
          {
            "node": "Extract result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract result": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fotmat Restaurant Data": {
      "main": [
        [
          {
            "node": "Groq - Generate Description",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq - Generate Description": {
      "main": [
        [
          {
            "node": "Prepare JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Place Details": {
      "main": [
        [
          {
            "node": "Fotmat Restaurant Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Import to Backend": {
      "main": [
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "d61169ec-b417-428c-841d-eef86fe16391",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2a1cec70b32c558ac32f0e6d4c07d654484bd16978732619dc99d3cd7b3ff86f"
  },
  "id": "ycUf2PkzKO7fBAbosychy",
  "tags": []
}